// Utility classes for todo-list

// Override global container for tighter width
.container {
  max-width: 900px;
  padding: 2rem 1rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.line-through {
  text-decoration: line-through;
}
