<form
    novalidate
    class="flex flex-column gap-4"
    (ngSubmit)="onSubmit()"
>
    <app-form-field
        inputId="groupName"
        [label]="'GROUPS.FORM.NAME_LABEL' | translate"
    >
        <input
            type="text"
            pInputText
            id="groupName"
            class="w-full"
            [placeholder]="'GROUPS.FORM.NAME_PLACEHOLDER' | translate"
            [formField]="groupForm.name"
            [class.ng-invalid]="groupForm.name().invalid() && groupForm.name().touched()"
            [class.ng-dirty]="groupForm.name().invalid() && groupForm.name().touched()"
        />
        @if (groupForm.name().invalid() && groupForm.name().touched()) {
            @if (groupForm.name().errors()[0]?.kind === 'required') {
                <small
                    role="alert"
                    class="p-error block mt-1"
                >
                    {{ 'GROUPS.FORM.ERRORS.NAME_REQUIRED' | translate }}
                </small>
            } @else if (groupForm.name().errors()[0]?.kind === 'maxLength') {
                <small
                    role="alert"
                    class="p-error block mt-1"
                >
                    {{ 'GROUPS.FORM.ERRORS.NAME_MAX_LENGTH' | translate }}
                </small>
            }
        }
    </app-form-field>

    <app-form-field
        inputId="colorPicker"
        [label]="'GROUPS.FORM.COLOR_LABEL' | translate"
    >
        <app-group-color-picker
            id="colorPicker"
            [selectedColor]="groupModel().color"
            (colorChange)="onColorChange($event)"
        />
    </app-form-field>
</form>
