<form
    class="flex flex-column gap-4"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group">
        <label
            for="groupName"
            class="block mb-2 font-bold"
        >
            {{ 'GROUPS.FORM.NAME_LABEL' | translate }}
        </label>
        <input
            type="text"
            required
            pInputText
            name="name"
            id="groupName"
            class="w-full"
            [placeholder]="'GROUPS.FORM.NAME_PLACEHOLDER' | translate"
            [(ngModel)]="name"
        />
        @if (!name().trim()) {
            <small class="p-error block mt-1">
                {{ 'GROUPS.FORM.ERRORS.NAME_REQUIRED' | translate }}
            </small>
        }
    </div>

    <div class="form-group">
        <label
            for="colorPicker"
            class="block mb-2 font-bold"
        >
            {{ 'GROUPS.FORM.COLOR_LABEL' | translate }}
        </label>
        <app-group-color-picker
            id="colorPicker"
            [selectedColor]="$any(color())"
            (colorChange)="onColorChange($event)"
        />
    </div>
</form>
