SECRET_KEY=YOUR_SECRET_KEY
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,
CORS_ORIGINS=http://localhost:4200,http://localhost:4000,http://127.0.0.1:4200,http://localhost:3000,http://localhost:8080
DATABASE_URL=postgresql://user:password@localhost:5432/database_name
