<form
    novalidate
    class="flex flex-column gap-3"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group">
        <label
            for="title"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_TITLE' | translate }}</label
        >
        <input
            type="text"
            pInputText
            id="title"
            class="w-full"
            [placeholder]="'TODOS.FORM.FIELD_TITLE_PLACEHOLDER' | translate"
            [formField]="todoForm.title"
            [class.ng-invalid]="todoForm.title().invalid() && todoForm.title().touched()"
            [class.ng-dirty]="todoForm.title().invalid() && todoForm.title().touched()"
        />
        @if (todoForm.title().touched() && todoForm.title().invalid()) {
            @for (error of todoForm.title().errors(); track error) {
                <small
                    role="alert"
                    class="p-error"
                    >{{ error.message }}</small
                >
            }
        }
    </div>

    <div class="form-group">
        <label
            for="description"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_DESCRIPTION' | translate }}</label
        >
        <textarea
            rows="4"
            id="description"
            class="p-inputtext w-full"
            [placeholder]="'TODOS.FORM.FIELD_DESCRIPTION_PLACEHOLDER' | translate"
            [formField]="todoForm.description"
        >
        </textarea>
    </div>

    <div class="form-group">
        <label
            for="group"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_GROUP' | translate }}</label
        >
        <p-select
            optionValue="id"
            optionLabel="name"
            inputId="group"
            class="w-full"
            [showClear]="true"
            [options]="groups()"
            [ngModel]="todoModel().groupId"
            (ngModelChange)="onGroupChange($event)"
        />
        <small class="text-color-secondary">{{ 'TODOS.FORM.FIELD_GROUP_HINT' | translate }}</small>
    </div>
</form>
