<form
    novalidate
    class="flex flex-column gap-3"
    (ngSubmit)="onSubmit()"
>
    <div class="form-group">
        <label
            for="title"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_TITLE' | translate }}</label
        >
        <input
            type="text"
            pInputText
            id="title"
            class="w-full"
            [placeholder]="'TODOS.FORM.FIELD_TITLE_PLACEHOLDER' | translate"
            [formField]="todoForm.title"
        />
        @if (todoForm.title().touched() && todoForm.title().invalid()) {
            @for (error of todoForm.title().errors(); track error) {
                <small class="p-error">{{ error.message }}</small>
            }
        }
    </div>

    <div class="form-group">
        <label
            for="description"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_DESCRIPTION' | translate }}</label
        >
        <textarea
            rows="4"
            pTextarea
            id="description"
            class="w-full"
            [placeholder]="'TODOS.FORM.FIELD_DESCRIPTION_PLACEHOLDER' | translate"
            [formField]="todoForm.description"
        >
        </textarea>
    </div>

    <div class="form-group">
        <label
            for="group"
            class="block mb-2"
            >{{ 'TODOS.FORM.FIELD_GROUP' | translate }}</label
        >
        <p-select
            optionValue="id"
            optionLabel="name"
            name="group"
            inputId="group"
            class="w-full"
            [showClear]="true"
            [options]="groups()"
            [(ngModel)]="groupId"
        />
        <small class="text-color-secondary">{{ 'TODOS.FORM.FIELD_GROUP_HINT' | translate }}</small>
    </div>

    <div class="form-group mb-2">
        <div class="flex align-items-center gap-2">
            <p-checkbox
                name="isPublic"
                id="isPublic"
                [binary]="true"
                [(ngModel)]="isPublic"
            />
            <label for="isPublic">{{ 'TODOS.FORM.FIELD_PUBLIC' | translate }}</label>
        </div>
        <p class="text-xs text-color-secondary mt-1 ml-6">
            {{ 'TODOS.FORM.PUBLIC_INFO' | translate }}
        </p>
    </div>
</form>
